{% extends "base.html" %}

{% block content %}
<h1 class="text-center mt-5"> Spent Cash List</h1>
<table class="table table-striped table-bordered" style="width: 90%; margin: auto;">
    <thead>
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for cash in cash_spents %}
        <tr>
            <td>{{ cash.date }}</td>
            <td>{{ cash.amount }} Tk</td>
            <td>{{ cash.description }}</td>
        </tr>
        {% endfor %}

    </tbody>

</table>
<table class="table table-striped table-bordered" style="width: 90%; margin: auto;">
    <thead>
        <th>Total Cash: {{ total_spent }} Tk</th>
    </thead>
</table>


{% endblock content %}